<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FallDetector.FallDetector" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk />
	<application android:label="FallDetector" android:icon="@drawable/FallingIcon"></application>
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>