<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LusoVU.XamarinUsbSerialForAndroid" version="0.2.3" targetFramework="MonoAndroid50" />
  <package id="OxyPlot.Core" version="2015.1.873-alpha" targetFramework="MonoAndroid23" />
  <package id="OxyPlot.Xamarin.Android" version="2015.1.873-alpha" targetFramework="MonoAndroid23" />
  <package id="xamstore-xamarin.mobile" version="0.7.1" targetFramework="MonoAndroid50" />
</packages>